.input {
  margin-top: 5px;
  padding: 12px;
  border-radius: 100px;
  outline: none;
  border: 2px gray solid;
  width: 100%;
  transition: all 0.3s ease-in-out ;
  &:hover {
    outline: none;
    border: 2px red solid;
  }
}