.menu {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  transition: all 0.3s ;
  z-index: 100;
  box-shadow: 3px 3px 8px 2px rgb(0,0,0,0.2);
}

.icon {
  font-size: 1.5rem;
}

.write_icon_wrapper {
  padding: 8px 20px;
  background: gray;
  border-radius: 10px;
 .icon {
   color: #fff;
   transform: rotate(45deg);
 }
}