.menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
      &:hover {
      animation: menu-hover 0.63s ease-in-out;
    }
     @keyframes menu-hover {
        0% {
          opacity: 1;
        }
        25% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        75% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     } 
  span {
    margin-top: 2px;
    font-size: .8em;
  } 
}