@import './Form.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(90%, 80rem);
  position: relative;
}
.wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
}

.icon {
  font-size: 25px;
}

.close_icon {
  position: absolute;
  top: -5px;
  right: -5px;
  border: 1px solid rgba(0,0,0);
  padding: 5px;
  font-size: 30px;
  color: red;
}

.login_url {
  text-align: center;
}

.url {
  color: #328fff;
  &:hover {
    color: blue;
  }
}