@import "./Mixin.module.scss";

.container {
  @include flex;
  width: min(90%, 80rem);
  min-height: 100vh;
  padding: 100px 0;
}

.title {
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

.poster {
  text-align: center;
  color: rgb(0, 0, 0, 0.5);
  margin-top: -10px;
}

.story_wrapper,
.story_container {
  width: 100%;
}

.content {
  width: 100%;
  line-height: 2;
}

.stats_wrapper {
  display: grid;
  @include flex;
  flex-direction: row;
  justify-content: space-between;
}

.stat {
  @include flex;
  flex-direction: row;
  align-items: center;
  span {
    margin-left: 10px;
  }
}

.reactions {
  @include flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  * + * {
    margin-left: 20px;
  }
}

.reaction {
  @include flex;
  border: 1px gray solid;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    background: #000;
    color: white;
  }
}

.comment_section {
  background: #fff;
  transition: all 0.3s ease-in-out;
  position: fixed;
  left: 0;
  height: 100vh;
  @include flex;
  transition: all .3s ease-in-out;
}

.comment_container {
  margin-top: 50px;
}

.comment_wrapper {
  padding: 10px 0;
  border-radius: 20px;
  width: 100%;
  margin-top: 100px;
}