@import './Mixin.module.scss';

.wrapper,
.story {
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
}

.wrapper {
  width: min(350px, 400px);
}

.story {
  border: 1px solid gray;
  box-shadow: none;
}

.title {
  font-size: 1.2em;
  text-transform: capitalize;
}

.name {
  font-size: .9em;
  color: gray;
}

.stats_wrapper {
  @include flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.stat {
  @include flex;
  flex-direction: row;
}

.icon {
  font-size: .8em;
  margin-right: 10px;
}

#like_icon {
  transition: all 0.3s ease;
}

.likers {
  font-size: .9em;
}