@import './Mixin.module.scss';

.text_editor {
  @include flex;
  min-width: 100%;
}

.toolbar {
  @include flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.wrapper {
  border: 1px solid gray;
}

.editor {
  min-height: 300px;
  //border: 1px solid lightgray;
  padding: 0 10px;
}