@import './Mixin.module.scss';

.text_editor {
  @include flex;
  width: 100%;
}

.container {
  width: min(90%, 600px);
  @include flex;
}

.toolbar {
  @include flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.wrapper {
  border: 1px solid lightgray;
}

.editor {
  min-height: 300px;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}