@import './Mixin.module.scss';

.container {
  @include flex;
  width: min(90%, 80rem);
}

.user_post {
  @include flex;
}

.wrapper {
  @include flex;
  border-top: 1px solid lightgray;
  width: min(350px, 80rem);
}

.post_time_wrapper {
  width: 100%;
  margin: 0;
}

.post_time {
  font-size: .8em;
  color: gray;
}

.content_wrapper {
  margin-top: -20px;
  width: 100%;
  @include flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post_title {
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
}

.reactions_wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  * + * {
    margin-left: 20px;
  }
}

.reaction_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  * + * {
    margin-left: 10px;
  }
}

.post_likes {
  font-size: .8em;
  line-height: 0;
}

.icon {
  color: gray ;
  font-size: .8em;
}